.loader-first-tag{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.loader-sec-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.loader-font-text{
    font-size: 4vh;
    /* margin-top:-5%; */
    color: white;
}
