
.Body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 5% 2% 5%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    /* background-color: red; */
}
.About-header{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.About-header-text{
    font-size: calc(20px + 2vmin);
}
.About-tag{
    display: flex;
    /* background-color:aqua; */
    height: 70vh;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
.content-tag{
    width: 50%;
    height: 60vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-size: 4vw;
}
.Owner-img-tag{
    /* background-color: yellow; */
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 5%;
    justify-content: center;
}
.Owner-img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media screen and (max-width: 600px) {
    .About-tag{
        flex-direction: column;
    }
    .content-tag{
        width: 100%;
        height: 38vh;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Owner-img-tag{
        width: 100%;
        height: 42vh;
        /* background-color: blue; */
    }
    .About-tag{
        height: 84vh;
        /* background-color: blueviolet; */
    }
}
@media screen and (min-width: 600px) {
    .content-tag{
        font-size: 2.5vw;
    }

}
@media screen and (min-width: 750px) {
    .content-tag{
        font-size: 2vw;
    }
}
@media screen and (min-width: 1024px) {
    .content-tag{
        font-size: 1.5vw;
    }
}
