.addPhoto-body{
    /* background-color: aqua; */
    height: 100vh;
    padding: 2% 5% 2% 5%;
}
.addPhoto-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin-top: 1%;
    /* background-color: red; */
}
.addPhoto-header-text{
    font-size: calc(20px + 2vmin);
}

.addPhoto-outter-tag{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    /* background-color: violet; */
}
.upload-img-tag{
    width: 32%;
    height: 60vh;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    padding: 1.5%;
    box-shadow: 0px 3px 117px 12px rgba(0,0,0,0.32) ;
    -webkit-box-shadow: 0px 3px 117px 12px rgba(0,0,0,0.32) ;
    -moz-box-shadow: 0px 3px 117px 12px rgba(0,0,0,0.32) ;

}
.show-img-tag{
    height: 40vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-btn{
    width: 40%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.default-img-tag{
    width: 90%;
    height: 40vh;
    border-radius: 10px;   
}
.img-tag{
    width: 70%;
    height: 40vh;
    border-radius: 10px;
}
.btn-tag{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12vh;
}
input[type='file'] {
    color: transparent;
  }
.btn-text-css{
    font-size: 1.5vw;
    width: 100%;
    height: 5vh;
    padding-left: 10%;
    padding-right: 10%;
}


@media screen and (max-width: 600px) {
    .upload-img-tag{
        width: 95%;
        height: 60vh;
    }
    .btn-text-css{
        font-size: 5vw;
    }
}
 @media screen and (min-width: 600px) {
    .upload-img-tag{
        width: 65%;
        height: 60vh;
    }
    .btn-text-css{
        font-size: 3.5vw;
    }
}
@media only screen and (min-width: 768px) {
    .upload-img-tag{
        width: 55%;
        height: 60vh;
    }
    .btn-text-css{
        font-size: 2.8vw;
    }
}
@media screen and (min-width: 900px) {
    .upload-img-tag{
        width: 45%;
        height: 60vh;
    }
    .btn-text-css{
        font-size: 2.2vw;
    }
}
@media screen and (min-width: 1200px) {
    .upload-img-tag{
        width: 35%;
        height: 60vh;
    }
    .btn-text-css{
        font-size: 2vw;
    }
} 
