.homeBody{
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    clip-path: polygon(0% 0%,100% 0%,100% 75%,0% 100%);
    background: linear-gradient(57deg,#00c6a7,#1e4d92);
}
.back{
    width:100vw;
    clip-path: polygon(0% 0%,100% 0%,100% 75%,0% 100%);
    background: linear-gradient(57deg,#00c6a7,#1e4d92);
}

.btn-1 {
    width: 10vw;
    display: inline-block;
    padding: 6px 0;
    background-color: #24d278;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 5px;
  }
  
  .btn-1:hover {
    background-color: transparent;
    border-color: #24d278;
    color: #24d278;
  }
  .btn-2 {
    width: 10vw;
    display: inline-block;
    padding: 6px 0;
    background-color: #000;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 5px;
  }
  
  .btn-2:hover {
    background-color: transparent;
    border-color: #000;
    color: #000;
  }
  .home-contant-outter-tag{
    height:100vh;
    display:flex;
    flex-direction:row
  }
  .home-left-tag{
    /* background-color: red; */
    height:100vh;
    width:50vw;
    display:flex;
    align-items:center;
    justify-content:flex-end;
  }
  .home-left-inner-tag{
    height:40vh;
    width:40vw;
    display:flex;
    justify-content:center;
    flex-direction: column;
  }
  .black-round-outter{
    height:100vh;
    width:50vw;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .black-round{
    height:400px;
    width:400px;
    background-color:black;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
  }

.homeTest{
       height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

  
  .homeTest::after {
    display: flex;
    align-items: flex-end;
    content: "";
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  
  .homeTest {
    height: auto;
    background-size: auto;
  }
  
.home-header{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.home-header-text{
    font-size: calc(20px + 2vmin);
}
.home-tag{
    background-color: black;
    height: 100vh;
    width: 100%;
}
.left-tag{
    width: 45%;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.left-tag img{
    max-width: 100%;
    max-height: 100%;
    
}
.right-tag{
    width: 55%;
    text-align: center;
    color: white;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-tag h1{
    font-size: 3vw;
    font-weight: 900;
    text-transform: uppercase;
}
.right-tag p {
    font-size: 1.1rem;
    padding: 30px 0;
}
.explore-btn{
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg,#00c6a7,#1e4d92);
    border-radius: 4px;
    padding: 8%;
}

.explore-btn:hover{
    background: linear-gradient(57deg,#1e4d92,#00c6a7);
}

@media screen and (max-width: 540px) {
    .home-contant-outter-tag{
        flex-direction: column;
    }
    .home-left-tag{
      /* background-color: red; */
        background-color: white;
        width:100vw;
        height: 45vh;
        justify-content:center;
      }
      .home-left-inner-tag{
        /* background-color: #1e4d92; */
        height:40vh;
        width:90vw;
        display:flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
      }
      .btn-tag{
          display: flex;
          flex-direction: row;
      }
      .btn-2 {
        width: 40vw;
        display: inline-block;
        padding: 3px 0;
      }
      .btn-1 {
        width: 40vw;
        display: inline-block;
        padding: 3px 0;
      }
      
      .black-round-outter{
        height:55vh;
        width:100vw;
      }
      .black-round{
        height:300px;
        width:300px;

      }
      .back{
        clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
        background: linear-gradient(57deg,#00c6a7,#1e4d92);
    }
    .contentParagraph{
        font-size: 0.8rem;
        text-align: center;
    }
    .first-span-tag{
        font-size: 1.6rem;
        text-transform: uppercase;
        text-indent: 1px;
        background: -webkit-linear-gradient(#00c6a7,#1e4d92);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .span-tag{
        font-size:8.5vw;
        text-transform: uppercase;
        text-indent: 1px;
    }
}
@media screen and (min-width: 540px) {
    .home-contant-outter-tag{
        flex-direction: column;
    }
    .home-left-tag{
        background-color: white;
        width:100vw;
        height: 50vh;
        justify-content:center;
      }
      .home-left-inner-tag{
        height:50vh;
        width:70vw;
        display:flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
      }
      .btn-tag{
          display: flex;
          flex-direction: row;
      }
      .btn-2 {
        width: 20vw;
        display: inline-block;
        padding: 3px 0;
      }
      .btn-1 {
        width: 20vw;
        display: inline-block;
        padding: 3px 0;
      }
      
      .black-round-outter{
        height:50vh;
        width:100vw;
      }
      .black-round{
        height:275px;
        width:275px;
      }
      .back{
        clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
        background: linear-gradient(57deg,#00c6a7,#1e4d92);
    }
    .contentParagraph{
        text-align: center;
    }
    .first-span-tag{
        font-size: 2rem;
        text-transform: uppercase;
        text-indent: 1px;
        background: -webkit-linear-gradient(#00c6a7,#1e4d92);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .span-tag{
        font-size: 3rem;
        text-transform: uppercase;
        text-indent: 1px;
    }
}
@media only screen and (min-width: 768px) {
    .back{
        clip-path: polygon(0% 0%,100% 0%,100% 75%,0% 100%);
        background: linear-gradient(57deg,#00c6a7,#1e4d92);
    }
    
    .btn-1 {
        width: 15vw;
        display: inline-block;
        padding: 6px 0;
        background-color: #24d278;
        color: #ffffff;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid transparent;
        border-radius: 20px;
        margin-right: 5px;
      }
      
      .btn-1:hover {
        background-color: transparent;
        border-color: white;
        color: #fff;
      }
      .btn-2 {
        width: 15vw;
        display: inline-block;
        padding: 6px 0;
        background-color: #000;
        color: #ffffff;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid transparent;
        border-radius: 20px;
        margin-right: 5px;
      }
      
      .btn-2:hover {
        background-color: transparent;
        border-color: #000;
        color: #000;
      }
      .home-contant-outter-tag{
        height:100vh;
        display:flex;
        flex-direction:row
      }
      .home-left-tag{
        background-color: transparent;
        height:100vh;
        width:50vw;
        display:flex;
        align-items:center;
        justify-content:flex-end;
      }
      .home-left-inner-tag{
        height:40vh;
        width:40vw;
        display:flex;
        justify-content:center;
        flex-direction: column;
      }
      .black-round-outter{
        height:100vh;
        width:50vw;
        display:flex;
        align-items:center;
        justify-content:center;
      }
      .black-round{
        height:250px;
        width:250px;
        background-color:black;
        border-radius:50%;
        display:flex;
        align-items:center;
        justify-content:center;
      }
      .contentParagraph{
        text-align: center;
        color: white;
        display: blocks;
        width: 40vh;
    }
    .first-span-tag{
        font-size: 3.5vw;
        text-transform: uppercase;
        text-indent: 1px;
        background: -webkit-linear-gradient(white,white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .span-tag{
        font-size: 5vw;
        text-transform: uppercase;
        text-indent: 1px;
        color: white;
    }
}
@media screen and (min-width: 900px) {
.black-round{
    height:300px;
    width:300px;
  }
  .contentParagraph{
    width: 50vh;
  }
  
} 
@media screen and (min-width: 1200px) {
    .black-round{
        height:400px;
        width:400px;
    }
    .contentParagraph{
      width: 60vh;
    }
}  