.header-body{
  font-family: 'Montserrat', sans-serif;
}
.navbar{
  background-color: transparent;
  /* background-color: #5c5c5c; */
}
.navbar.active{
  background-color: #5c5c5c;
}


/* .bg-dark{
  background-color: red;
} */
.text-color{
  color: white;
  
}

.navbar-light .navbar-brand{
  color: white;
}
.navbar-light .navbar-brand:hover{
  color: white;
  
}
.nav-link {
  color: rgb(255, 255, 255) !important;
}
  
@media screen and (max-width: 770px) {
  .navbar-light .navbar-brand{
    color: black;
  }
  .navbar-light .navbar-brand:hover{
    color: black;
    
  }
}
@media screen and (min-width: 770px) {
  .collapse{
    display: flex;
    justify-content: space-between;
  }
}

