.card-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    /* background-color: #09161d; */
}
.card{
    position: relative;
    width: 350px;
    height: 450px;
    background-color: #122936;
    border-radius: 20px;
    overflow: hidden;
}
.card ::before {
    content: '';
    position: absolute;
    top: -65%;
    width: 100%;
    height: 100%;
    background: #2196f3;
    transform: skewY(40deg);
    transition: 0.5s;
}
.card:hover ::before{
    top: -70%;
} 
.card::after{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0,0, 0.1);
}
.card .imgBx{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: royalblue; */
    z-index: 1;
}
.card .imgBx img{
    max-width: 50%;
    position: relative;
    transition: 0.5s;
}
.card:hover .imgBx img{
    max-width: 55%;
    /* transition: 0.5s; */
}

.card .contentBx{
    /* position: relative; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* z-index: 1; */
    font-family: cursive;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.card .contentBx h3{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .contentBx .price{
    /* position: sticky; */
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
}
.card .contentBx .buy{
    top: 200px;
    opacity: 1;
    padding: 10px 30px;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card:hover .contentBx .buy{
    top: 0;
    opacity: 1;
}
