.show-frame-body{
    width: 100vw;
    padding: 2% 5% 2% 5%;
    background-color: #f4f5f7;
}
.show-frame-header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    margin: 4% 0%;
}
.Show-frame-header-text{
    font-size: calc(20px + 2vmin);
    color: #000;
}
.show-frame-tag{
    display: flex;
    justify-content: center;
}
/* Grid Outter Tag */
.frame-img-grid{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.frame-img-wrap{
    overflow: hidden;
    padding: 50% 0;
    position: relative;
    width: 95%;
    margin: 2%;
}

.frame-img-wrap img {
    height: 70%;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: white;
    transition: .5s ease-in-out;
}
.frame-img-wrap img:hover{
    background-color: #0099ff;
}
.view-more-btn-tag{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.showFrame-header-hr{
    margin-left:1%;
    width:6%;
}


@media screen and (min-width: 600px) {
    .frame-img-grid{
        grid-template-columns: 1fr 1fr;
    } 
}

@media screen and (min-width: 1200px) {
    .frame-img-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 600px) {
    .frame-img-grid{
        grid-template-columns: 1fr ;
    } 
    .showFrame-header-hr{
        margin-left:1%;
        width:12%;
    }
}
