.show-clock-body{
    /* height: 100vh; */
    /* background-color: aqua;  */
    /* background-color: ; */
    padding: 2% 5% 2% 5%;
    background-color: white;
}
.show-clock-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    /* background-color: red; */
}
.Show-Clock-header-text{
    font-size: calc(20px + 2vmin);
}
.show-clock-tag{
    display: flex;
    justify-content: center;
}
/* Grid Outter Tag */
.clock-img-grid{
    
    /* background-color: red; */
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.img-wrap{
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;
    width: 95%;
    margin: 2%;
}

.img-wrap img {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: black;
    /* background-color: #404040; */
    /* background-color: white; */
    transition: .5s ease-in-out;
}
.img-wrap img:hover{
    background-color: #0099ff;
}
.btn-tag{
    /* background-color: black; */
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
/* .btn-tag Button {
    width: 15%;
} */


@media screen and (min-width: 600px) {
    .clock-img-grid{
        grid-template-columns: 1fr 1fr;
    } 
}

@media screen and (min-width: 1200px) {
    .clock-img-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 600px) {
    .clock-img-grid{
        grid-template-columns: 1fr ;
    } 
}
